@CHARSET "UTF-8";
@font-face
{
     font-family: ThaiSans Neue;
     src:url(/CakePHP/app/webroot/font/ThaiSansNeue-Light.otf);
}
@font-face
{
     font-family: Simplifica;
     src:url(/CakePHP/app/webroot/font/SIMPLIFICA%20Typeface.ttf);
}
html, body, #container { height: 100%; }
body > #container { height: auto; }

body
{	
margin: 0px;	
background-image: url('/CakePHP/app/webroot/files/seichichan/body_bg.jpg');
font-family: ThaiSans Neue;
font-size: 23pt;
}
@import url("/CakePHP/css/960.css");
a{
	
}
#logo{
	color: #444242;
	text-decoration:blink;
	font-weight: lighter;
	//float: left;
	margin-left: 10%;
	margin-top: 10px
}
	#logo_image{
		max-width:300px;
		max-height:300px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
#menu{
	color: #444242;
	text-decoration:blink;
	font-weight: lighter;
}
/*header*/
#header{
	height: 209px;
	border-top:3px solid #444242;
	//background-color: red;
}
	#header_image{
		//background-image: url(/CakePHP/img/map.png);
		padding-bottom: 7px;
	}
	#menu{
		float: right;
		margin-right: 10%;
		margin-top: 10px
	}
	#menu_link{
		color: white;
		text-decoration:blink;
		font-weight: lighter;
		margin-left: 10%;
		//margin-top:5px;

	}
	#menu_arrow{
		float: right;
		margin-right: 13%;
		margin-top:-6px;
	}
	#menu_line{
          width: 100%;
          height: 1px;
          background-color: #817F7F;
          margin-top:13px;
	}
	#menu_popup
	{
	width:100%;
	z-index: 10000;
	color:white;
	background-color: #444242;
	display: none;
	left: 0;
	float: left;
	font-family: Simplifica;
	letter-spacing: 3px;
	font-size: 20pt;
	padding-bottom: 15px;
	margin-bottom:20px;
	
	}
	#menu_content{
		padding-top:7px;
	}


#container {
margin: auto;
//width: 90%;
}
































