@CHARSET "UTF-8";
img{
	max-width: 200px;
	max-height: 200px;
}
#user_page_container{
	text-align: center;
	//margin-top: 155px;
}
#topic{
	//float: left;
	margin-left: 10%;
}
#profile_setting{
	//float: right;
	margin-left: 10%;
}
